<button @onclick="SetPreviousItemActive" class="btn btn-danger">Vrati se</button>

<div class="container">
    <ul class="progressbar">

        @foreach (var item in collection)
        {
            if (item.Key == activeItemInCollection)
            {
                <li class="active">@item.Value</li>
            }
            else
            {
                <li>@item.Value</li>
            }
        }
    </ul>
</div>

<button @onclick="SetNextItemActive" class="btn btn-danger">Nastavi</button>

@code{
    private Dictionary<int, string> collection { get; set; }
    private int activeItemInCollection { get; set; }

    protected override void OnInitialized()
    {
        collection = new();
        collection.Add(1, "Datum");
        collection.Add(2, "Polazište");
        collection.Add(3, "Odredište");
        collection.Add(4, "Odaberi prijevoz");

        activeItemInCollection = 1;
    }

    protected void SetNextItemActive()
    {
        activeItemInCollection++;
        StateHasChanged();
    }

    protected void SetPreviousItemActive()
    {
        activeItemInCollection--;
        StateHasChanged();
    }
}

