
<div class="container">
    <ul class="progressbar">

        @foreach (var item in collection)
        {
            if (item.Key == activeItemInCollection)
            {
                <li class="active">@item.Value</li>
            }
            else
            {
                <li>@item.Value</li>
            }
        }
    </ul>
</div>

@code{
    [Parameter] public Dictionary<int, string> collection { get; set; }
    [Parameter] public int activeItemInCollection { get; set; }
}

