@page "/index"


<h1>Hello, world!</h1>

Welcome to your new app.

Weather Forecasts:

@foreach (var item in Voznje)
{
    <h1>@item.MaksimalnoPutnika</h1>
}

@code {
    public List<Voznja> Voznje { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        using (HttpClient httpClient = _httpClientFactory.CreateClient("AutoStoper.Gateway"))
        {
            var response = await httpClient.GetAsync("voznje");
            if (response.IsSuccessStatusCode)
                Voznje = await response.Content.ReadFromJsonAsync<List<Voznja>>();
        }
    }
}