@page "/index"
@using AutoStoper.Client.Shared.Models


<h1>Hello, world!</h1>

Welcome to your new app.

Weather Forecasts:

@foreach (var item in Weather)
{
    <h1>@item.Summary</h1>
}

@code {
    public List<WeatherForecast> Weather { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        using (HttpClient httpClient = _httpClientFactory.CreateClient("AutoStoper.Gateway"))
        {
            var requestMessage = new HttpRequestMessage()
            {
                Method = HttpMethod.Get,
                RequestUri = new Uri($"{httpClient.BaseAddress}weather")
            };

            requestMessage.SetBrowserRequestMode(BrowserRequestMode.NoCors);
            requestMessage.SetBrowserRequestCredentials(BrowserRequestCredentials.Include);
            var response = await httpClient.GetAsync("weather");
            if (response.IsSuccessStatusCode)
                Weather = await response.Content.ReadFromJsonAsync<List<WeatherForecast>>();
        }
    }
}