@page "/"
@using AutoStoper.Client.Models
@inject IHttpClientFactory ClientFactory

<h1>Hello, world!</h1>

Welcome to your new app.

Users:

@foreach (var item in Users)
{
    <h1>@item.Email</h1>
}

@code {
    public List<User> Users { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        using (HttpClient httpClient = ClientFactory.CreateClient("AutoStoper.Gateway"))
        {
            var requestMessage = new HttpRequestMessage()
            {
                Method = HttpMethod.Get,
                RequestUri = new Uri($"{httpClient.BaseAddress}weather")
            };

            requestMessage.SetBrowserRequestMode(BrowserRequestMode.NoCors);
            requestMessage.SetBrowserRequestCredentials(BrowserRequestCredentials.Include);
            var response = await httpClient.SendAsync(requestMessage);
            Users = await response.Content.ReadFromJsonAsync<List<User>>();
        }
    }
}